In [ ]:
import numpy as np
import pandas as pd

## Создание объекта

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

In [ ]:
# указываем начало временнОго периода и число повторений (дни по умолчанию)
dates = pd.date_range('20130101', periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'), # временнАя метка
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'), # Серия на основе списка
                    'D': np.array([3] * 4, dtype='int32'), # массив целых чисел NumPy
                    'E': pd.Categorical(["test", "train", "test", "train"]), # категории
                    'F': 'foo'})
df2

In [ ]:
df2.dtypes

## Просмотр данных

In [ ]:
df.head()

In [ ]:
df.tail(3) # вывести последние три строки

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.to_numpy()

In [ ]:
df2.to_numpy()

In [ ]:
df.describe()

In [ ]:
df.T

In [ ]:
df.sort_index(axis=1, ascending=False) # по умолчанию axis=0, т.е. сортировка по строкам

In [ ]:
df.sort_values(by='B') # по умолчанию сортировка по индексу, выбрали столбец 'B'

### Получение

In [ ]:
df['A']

In [ ]:
df[0:3]

In [ ]:
df['20130102':'20130104']

### Выбор по метке

In [ ]:
df.loc[dates[0]] # метка индекса Timestamp('2013-01-01 00:00:00', freq='D')

In [ ]:
df.loc[:, ['A', 'B']]

In [ ]:
df.loc['20130102':'20130104', ['A', 'B']]

In [ ]:
df.loc['20130102', ['A', 'B']]

In [ ]:
df.loc[dates[0], 'A']

In [ ]:
df.at[dates[0], 'A']

### Выбор по позиции

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3:5, 0:2]

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

In [ ]:
df.iloc[1:3, :]

In [ ]:
df.iloc[:, 1:3]

In [ ]:
df.iloc[1, 1]

In [ ]:
df.iat[1, 1]

### Булево индексирование

In [ ]:
df[df['A'] > 0]

In [ ]:
df[df > 0]

In [ ]:
df2 = df.copy() # создаем копию исходгого кадра данных

In [ ]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three'] # добавляем столбец
df2

In [ ]:
df2[df2['E'].isin(['two', 'four'])] # фильтруем

### Установка значений

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1

In [ ]:
df['F'] = s1 # отсутствующие значения после выравнивания заменились NaN
df

In [ ]:
df.iat[0, 1] = 0
df

In [ ]:
df.loc[:, 'D'] = np.array([5] * len(df))
df

In [ ]:
df2 = df.copy() # копируем кадр данных
df2

In [ ]:
df2[df2 > 0] = -df2 # все положительные превращаем в отрицательные
df2

## Отсутствующие данные

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1

In [ ]:
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

In [ ]:
df1.dropna() # how='any', axis=0 по умолчанию, т.е. удаляются все строки с пропущенными данными

In [ ]:
df1.fillna(value=5)

In [ ]:
pd.isna(df1)

### Статистика

In [ ]:
df.mean()

In [ ]:
df.mean(1)

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2) # сдвигаем индекс
s

In [ ]:
df

In [ ]:
df.sub(s, axis=0) # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sub.html

### Apply

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

### Гистограмма

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

In [ ]:
s.value_counts()

### Строковые методы

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s

In [ ]:
s.str.lower()

## Объединение (Merge)

### Concat

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]] # разбиваем на части

In [ ]:
pd.concat(pieces)

### Присоединение (Join)

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

In [ ]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

In [ ]:
pd.merge(left, right, on='key')

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left

In [ ]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
right

In [ ]:
pd.merge(left, right, on='key')

## Группировка

In [ ]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})
df

In [ ]:
df.groupby('A').sum()

In [ ]:
df.groupby(['A', 'B']).sum()

## Изменение формы

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

In [ ]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

In [ ]:
df2 = df[:4]
df2

In [ ]:
stacked = df2.stack()
stacked

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

### Сводные таблицы (Pivot tables)

In [ ]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                   'B': ['A', 'B', 'C'] * 4,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})
df

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

## Временные ряды

In [ ]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
rng[:10]

In [ ]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts[:10]

In [ ]:
ts.resample('5Min').sum()

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [ ]:
ts

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

In [ ]:
ts_utc.tz_convert('US/Eastern')

In [ ]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
rng

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ps = ts.to_period()
ps

In [ ]:
ps.to_timestamp()

In [ ]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
prng

In [ ]:
ts = pd.Series(np.random.randn(len(prng)), prng)
ts[:10]

In [ ]:
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts[:10]

In [ ]:
ts.head()

## Категории

In [ ]:
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6],
                   "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

In [ ]:
df.sort_values(by="grade")

In [ ]:
df.groupby("grade").size()

## Plotting

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
ts = pd.Series(np.random.randn(1000),
               index=pd.date_range('1/1/2000', periods=1000))
ts

In [ ]:
ts = ts.cumsum()
ts

In [ ]:
ts.plot();

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df.head()

In [ ]:
df = df.cumsum()
df.head()

In [ ]:
df.plot(legend='best');

## Получение и записаь данных

### CSV

In [ ]:
df.to_csv('foo.csv')

In [ ]:
pd.read_csv('foo.csv')

### HDF5

Запись в `HDF5` хранилище:

In [ ]:
df.to_hdf('foo.h5', 'df')

Чтение из `HDF5` хранилища:

In [ ]:
pd.read_hdf('foo.h5', 'df')

### Excel

In [ ]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

In [ ]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])